<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<button id="payment-button">결제하기</button>

<script th:inline="javascript">
    /*<![CDATA[*/
      const toss       = TossPayments(/*[[${clientKey}]]*/ "");
      // const ticketTypeId = ... (삭제)
      // const memberId     = ... (삭제)
      const orderId     = /*[[${orderId}]]*/ "";
      const amount     = /*[[${amount}]]*/ 0;
      const orderName  = /*[[${orderName}]]*/ "";
      const baseUrl    = window.location.origin;

      document.getElementById('payment-button').addEventListener('click', () => {
        toss.requestPayment('카드', {
          amount:    amount,
          orderId:   orderId,
          orderName: orderName,
          // 2. [수정됨] successUrl을 깔끔하게 변경
          //    Toss가 여기에 자동으로 paymentKey, orderId, amount를 붙여줍니다.
          successUrl: `${baseUrl}/payment/success`,
          failUrl:    `${baseUrl}/payment/fail`
        })
        .catch(error => alert(error.message));
      });
    /*]]>*/
</script>
</body>
</html>